<h1>Pistas disponibles</h1>
<% @list_fields.each do |field| %>
<p>
<h2><%= field.name %></h2>
  <h3> normal price: <%= field.normal_price %></h3>
  <h3> special price: <%=field.special_price %></h3>
</p>
<% end %>
